
.row
  .col-8.col-offset-2
    h1 = @user.name

    .list-group
      - for status in @statuses
        a.list-group-item.reply href="#"
          h4.list-group-item-heading = status.user.name
          .list-group-item-text = status.text


.pager
  ul.pagination
    li
      a href="?p=1" &laquo;
    / pagination will be inserted here
    li
      a &raquo;

javascript:
  $(function () {
    /* reply */
    $('.reply').on('click', function(){
      $('#update-modal').modal('show');
      $('.modal-body textarea').val('@'+$('h4', this).text()+' ');
    })

    /* paginatoin */
    var page = #{locals[:page]};
    var max  = #{locals[:page_max]};

    if(max <= 1){
      $('ul.pagination').remove();
    }else if(max < 5){
      var left  = 1;
      var right = max;
    }else if(page <= 3){
      var left  = 1;
      var right = 5;
    }else if(page >= max-2){
      var left  = max-4;
      var right = max;
    }else{
      var left  = page-2;
      var right = page+2;
    }
    for(var i=left; i <= right; i++){
      $("<li><a href='?p="+i+"'>"+i+"</a></li>").insertBefore(".pagination li:last");
    }

    $(".pagination li").eq(page-left+1).addClass("disabled");
    $(".pagination li").eq(page-left+1).removeAttr("href");

    $(".pagination li:last").find("a").attr("href", "?p="+max);
  })
