
body {
  padding-top: 75px;
}


/* login page */
.login-page {
  width: 300px;
  margin-left:  auto;
  margin-right: auto;
}

.tab-pane .form-group label {
  width: 100%;
}

.tab-content {
  padding-top: 20px;
}


/* profile page */
.profile-top {
  position: relative;
  margin-bottom: 15px;
}

.profile-top h1 {
  display: inline;
}

.profile-top a {
  position: absolute;
  right: 0;
}


/* update status modal */
.modal-body {
  padding-bottom: 0px;
}

.modal-body textarea {
  resize: vertical;
}

.modal-footer-buttons {
  text-align: right;
}

.modal-footer-buttons button {
  margin: 0px 20px 20px 0px;
}

.input-block-level {
  width: 100%;
}


/* pagination */
.pager {
  color: red;
  margin: 0 auto;
}